.header {
	color: red;
}
.score-board {
	position: absolute;
	color: red;
	text-align: center;
}

#container {
	width: 100%;
}
#left {
	margin-left: 20px;
	float: left;
	width: 100px;
}
#right {
	float: right;
}
